body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  
}

header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
  background-color: #2a3159;
  position: fixed;
  top: 0;
  left: 0;
}


.hidden {
  display: none;
}

#staticLogo {
  transition: all 0.3s ease;
  width: 150px; /* Taille initiale */
  position: absolute;
  top: 20px;
  left: 20%;
  transform: translateX(-50%); /* Centrer */
}

#staticLogo.fixed {
  position: fixed;
  top: -260px;
  left: 20px;
  width: 150px; 
  transform: none; 
  z-index: 1000; 
}
nav {
  ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 1em;
    margin-right: 25px;

    li {
      margin-left: 10px;
      & + li {
        border-left: 2px solid #f7f7f7;
        
      }

      &:last-child {
        border-right: none; 
      }

      a {
        text-decoration: none;
        color: #f7f7f7;
        font-weight: bold;
        padding-left: 15px;

        &:hover {
          color: #007BFF;
        }
      }
    }
  }
}

.content-mission {
  display: flex;
  align-items: center;
  text-align: center;
  background-color: #2a3159;
  width: 100%;
  .logo {
    width: 500px;
    height: 500px;
    margin: 50px;
  }
  .content-mission_text{
    margin: 10%;
    display: flex;
    flex-direction: column;
  
    .content-mission_title{
      display: flex;
      gap: 1rem;
      
        .logo-arrow{
          width: 100px;
          height: 100px;
          margin-bottom: 0;
        } 

        h1 {
          font-size: 3em;
          margin: 20px ;
          color: #f7f7f7;
        }
    }  
      p {
        font-family: montserrat, sans serif;
        font-size: 2.6em;
        line-height: 1.5;
        margin: 20px 0;
        font-weight: 900;
        color: #dd781e;
        text-align: start;
      }
      .button {
        padding: 10px ;
        font-size: 1.4em;
        font-weight: bold;
        color: #fff;
        background-color: #5d358f;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        text-decoration: none;
        width: 20%;
        
        

        &:hover {
          background-color: #dd781e;
        }
      }
  }
}
main{
  width: 100%;
  height: 100;
}
.vision-content{
  display: flex;
  background-color: #f7f7f7;
  padding: 10%;

  .vision-content_box{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
    .button{
      padding: 10px ;
      font-size: 1.4em;
      font-weight: bold;
      color: #fff;
      background-color: #5d358f;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      text-decoration: none;
      width: 20%;
      text-align: center;
    }

    .vision-content_title{
      display: flex;
        img{
          width: 100px;
          height: 100px;
          
        }
        h1{
          font-size: 3em;
          margin: 20px ;
          color: #002740;
        }
    }
    h2{
      color: #ed7d1a;
      font-size: 2.6em;
      line-height: 1.5;
      margin: 20px 0;
      font-weight: bold;
      text-align: start;
    }
    p{
      font-size: 1.8em;
    }
}
}
.vision-content_img {
  width: 100%;

  .logo-balance{
    width: 550px;
    
  }
  
}


.valeurs-content{
  background-color:#5d358f;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10%;
  padding-top: 0%;

    h1{
      padding-top: 5%;
      font-size: 3em;
      color: #f7f7f7;
    }
 

    .valeurs-content_card{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 2%;
      width: 100%;
      height: 100%;
      .border-card {
        border: 5px solid white;
        border-radius: 15px;
        background-color: white;
        flex: 1; 
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        margin: 2%;
        box-sizing: border-box;

        .card{
          flex: 1;
          display: flex;
          flex-direction: column;
          border: solid 3px #ed7d1a;
          border-radius: 15px; 
          background-color: #f7f7f7;
          text-align: center;
          align-items: center;  
          justify-content: center;
          padding: 20px; 
          height: 100%;
          box-sizing: border-box;

          h2{
            color: #dd781e;
          }

          img{
            width: 80px;
            padding: 20px;
          }
        }
      }   
    }
}


.axe-content{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  margin: 3em;
  

    .axe-content_box{
      display: flex;
      flex-direction: column;
      align-items: start;
      width: 60%;

      h2{
        color: #dd781e;
        font-size: 2.5em;
      }

      p{
        font-size: 1.5em;
      }
      
      .button{
        padding: 10px ;
        font-size: 1.4em;
        font-weight: bold;
        color: #fff;
        background-color: #5d358f;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        text-decoration: none;
        width: 20%;
        text-align: center;
      }

        .axe-content_title{
          display: flex;
          flex-direction: row;
            img{
              width: 100px;
              padding: 25px;
              
            }
            h1{
              color: #002740;
              font-size: 3em;
            }
        }
    }
    .axe-content_image{
      width:  40%;
    
      img{
        width: 100%;  
        border-radius: 50%;
      }
    
    }
}

$background-image-url: "../assets/images/triangle_blanc.svg";

.domaines-content {
  background-color: #002740;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10%;
  padding-top: 0%;
  background-image: url(#{$background-image-url}); // Interpolation correcte
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
    h1{
      padding-top: 5%;
      font-size: 3em;
      color: #f7f7f7;
    }
 

    .domaines-content_card{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 2%;
     
      .border-card {
        border: 5px solid white;
        border-radius: 15px;
        background-color: white;
        flex: 1; 
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 2%;
    }
       
        .domaines-card{
          flex: 1;
          display: flex;
          flex-direction: column;
          border: solid 3px #ed7d1a;
          border-radius: 15px; 
          background-color: #f7f7f7;
          text-align: center;
          align-items: center;  
          justify-content: center;
          padding: 20px; 
          box-sizing: border-box;

          h2{
            color: #dd781e;
          }

          img{
            width: 100px;
            padding: 20px;
          }
        }
    }
}

.contact{
  background-color: rgb(221, 215, 215);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  h1{
    font-size: 3em;
    color: #2a3159;
    font-family: monserrat;
  }

  .contact-name{
    
    h2{
      font-size: 2em;
      color: #2a3159;
      font-family: monserrat ;
    }
    p{
      font-size: 0.7em;
    }
  }
  .contact-details{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-bottom: 3%;
    

    img{
      width: 20px;
      padding: 8px;
    }
    a{
      text-decoration: none;
      color: #002740;
    }
    p{
      margin: 0%;
    }
  }
  
}
.mentions {
  position: relative;
  
}
.logo-contact {
  display: block; 
  max-width: 100%; 
}

.mentions-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white; 
  font-size: 16px; 
  text-align: center;
  text-decoration: none; 
  
  
}





