body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  
}

header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
  background-color: #460098;
  position: fixed;
  top: 0;
  left: 0;
}
.hidden {
  display: none;
}
nav {
  ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 1em;
    margin-right: 25px;

    li {
      margin-left: 10px;
      & + li {
        border-left: 2px solid #f7f7f7;
        
      }

      &:last-child {
        border-right: none; 
      }

      a {
        text-decoration: none;
        color: #f7f7f7;
        font-weight: bold;
        padding-left: 15px;

        &:hover {
          color: #007BFF;
        }
      }
    }
  }
}

.content {
  display: flex;
  align-items: center;
  text-align: center;
  background-color: #460098;
  width: 100%;
  .logo {
    width: 500px;
    height: 500px;
    margin: 50px;
  }
  .content_text{
    margin: 10%;
    display: flex;
    flex-direction: column;
  
    .content_text_title{
      display: flex;
      gap: 1rem;
      
        .logo-arrow{
          width: 100px;
          height: 100px;
          margin-bottom: 0;
        } 

        h1 {
          font-size: 3em;
          margin: 20px ;
          color: #f7f7f7;
        }
    }  
      p {
        font-size: 2.6em;
        line-height: 1.5;
        margin: 20px 0;
        font-weight: bold;
        color: #dd781e;
        text-align: start;
      }
      .button {
        padding: 10px ;
        font-size: 1.4em;
        font-weight: bold;
        color: #fff;
        background-color: #5d358f;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        text-decoration: none;
        width: 20%;
        
        

        &:hover {
          background-color: #dd781e;
        }
      }
  }
}
main{
  width: 100%;
  height: 100;
}
.vision-content{
  display: flex;
  background-color: #f7f7f7;
  padding: 10%;

  .vision-content_box{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
    .button{
      padding: 10px ;
      font-size: 1.4em;
      font-weight: bold;
      color: #fff;
      background-color: #5d358f;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      text-decoration: none;
      width: 20%;
      text-align: center;
    }

    .vision-content_title{
      display: flex;
        img{
          width: 100px;
          height: 100px;
          
        }
        h1{
          font-size: 3em;
          margin: 20px ;
          color: #002740;
        }
    }
    h2{
      color: #ed7d1a;
      font-size: 2.6em;
      line-height: 1.5;
      margin: 20px 0;
      font-weight: bold;
      text-align: start;
    }
    p{
      font-size: 1.8em;
    }
}
}
.vision-content_img {
  width: 100%;

  .logo-balance{
    width: 550px;
    
  }
  
}

.valeurs-content{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  background-color: #5d358f;

    h1{
      font-size: 3em;
      margin: 5%;
      color: #f7f7f7;
    }

    .valeurs-content_card{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      
     


        .card{
          display: flex;
          flex-direction: column;
          align-items: center;
          border: solid 2px #ed7d1a ;
          border-radius: 15px;
          width: 20%;
          margin: 25px;
          background-color: #f7f7f7;
          text-align: center;
            img{
              width: 50px;
              padding: 25px;
            }
            h2{
              color: #ed7d1a;
              font-size: 2em;
            }
            p{
              font-size: 1.5em;
              padding: 1em;
              text-align: center;
            }
        }
    }
}





