---
import Label from "./Label.astro";
import Input from "./Input.astro";
import { css } from "../../../styled-system/css";
---
<form id="contact-form" class={css({
    display: "flex",
    flexDirection: "column",
    gap: "1rem",
    maxWidth: "500px",
    width: "100%",
    margin: "0 auto",
    padding: "2rem",
    backgroundColor: "#f9f9f9",
    borderRadius: "8px",
    boxShadow: "0 4px 8px rgba(0, 0, 0, 0.1)",
})}>
    <div class={css({ width: "100%" })}>
        <Label htmlFor="prenom">Prénom:</Label>
        <Input id="prenom" name="prenom" />
    </div>

    <div class={css({ width: "100%" })}>
        <Label htmlFor="nom">Nom:</Label>
        <Input id="nom" name="nom" />
    </div>

    <div class={css({ width: "100%" })}>
        <Label htmlFor="societe">Société:</Label>
        <Input id="societe" name="societe" />
    </div>

    <div class={css({ width: "100%" })}>
        <Label htmlFor="email">Email:</Label>
        <Input id="email" name="email" type="email" />
    </div>

    <div class={css({ width: "100%" })}>
        <Label htmlFor="demande">Demande:</Label>
        <Input id="demande" name="demande" type="textarea" rows="4" />
    </div>

    <button type="submit" class={css({
        display: "block",
        width: "auto",
        margin: "0 auto",
        padding: ".7rem 1rem",
        backgroundColor: "secondary.100",
        color: "white",
        border: "2px solid secondary.100",
        borderRadius: "4px",
        fontWeight: "800",
        fontSize: "1em",
        cursor: "pointer",
        "&:hover": {
            backgroundColor: "secondary.300",
            color: "primary.200",
        },
    })}>
        Soumettre
    </button>
</form>