---
const { htmlFor } = Astro.props;
import { css } from "../../../styled-system/css";
---
<label for={htmlFor} class={css({
    display: "block",
    fontWeight: "700",
    color: "primary.100",
    marginBottom: "2%",
})}>
    <slot />
</label>