---
import {css} from "../../../../styled-system/css";
---
<div class={css({
    display: "flex",
    alignItems: "center",
    gap: "5%",
    paddingBottom: {lg:"3.5rem",xs:"1.6rem"},
})}>
    <slot/>
</div>
