---
import {paragraph} from "../../../styled-system/patterns";
---
<p class={paragraph({
    fontSize: {xs: "1rem", xl: "1.2rem"},
    color: "primary.100",
    textAlign: "center"
})}>
    <slot/>
</p>