---
import {title} from "../../../styled-system/patterns";
---
<h2 class={title({
    fontSize: {sm: "1.5rem", lgTo2xl: "3.2rem"},
    color: "secondary.100",
    fontWeight: "700",

})}>
    <slot/>
</h2>