---
import {css} from "../../../styled-system/css";
---
<div class={css({
    flex: "1",
    bgColor: "white",
    borderRadius: "15px",
    border: "8px solid white",
    maxWidth: "20rem",
})}>
    <div class={css({
        display: "flex",
        flexDir: "column",
        width: "100%",
        height: "100%",
        alignItems: "center",
        padding: "11% 12%",
        borderRadius: "15px",
        bgColor: "white",
        border: "4px solid {colors.secondary.100}"
    })}>
        <slot />
    </div>
</div>