---
import {css} from "../../../styled-system/css";
---

<div class={css({
    position: "relative",
    width: "450px",
    height: "450px",
    display: "flex",
    justifyContent: "center",
    alignItems: "center"
})}>

    <img src="/img/icons/circle.svg" alt="Cercle central" class={css({
        width: "350px",
        height: "350px",
        zIndex: "1"
    })} />

    <div class={css({
        position: "absolute",
        top: "10px",
        left: "0px",
        width: "160px",
        height: "160px",
        backgroundColor: "white",
        borderRadius: "50%",
        border: "5px solid orange",
        display: "flex",
        justifyContent: "center",
        alignItems: "center",
        boxSizing: "border-box",
        zIndex: "2"
    })}>
        <div class={css({
            width: "85px",
            height: "85px",
            borderRadius: "50%",
            border: "3px solid white",
            display: "flex",
            justifyContent: "center",
            alignItems: "center"
        })}>
            <img src="/img/icons/compas.svg" alt="Compas" class={css({
                width: "85px",
                height: "85px"
            })} />
        </div>
    </div>

    <div class={css({
        position: "absolute",
        top: "10px",
        right: "0px",
        width: "160px",
        height: "160px",
        backgroundColor: "white",
        borderRadius: "50%",
        border: "5px solid orange",
        display: "flex",
        justifyContent: "center",
        alignItems: "center",
        boxSizing: "border-box",
        zIndex: "2"
    })}>
        <div class={css({
            width: "85px",
            height: "85px",
            borderRadius: "50%",
            border: "3px solid white",
            display: "flex",
            justifyContent: "center",
            alignItems: "center"
        })}>
            <img src="/img/icons/ampoule.svg" alt="Ampoule" class={css({
                width: "85px",
                height: "85px"
            })} />
        </div>
    </div>

    <div class={css({
        position: "absolute",
        bottom: "50px",
        left: "0px",
        width: "160px",
        height: "160px",
        backgroundColor: "white",
        borderRadius: "50%",
        border: "5px solid orange",
        display: "flex",
        justifyContent: "center",
        alignItems: "center",
        boxSizing: "border-box",
        zIndex: "2"
    })}>
        <div class={css({
            width: "85px",
            height: "85px",
            borderRadius: "50%",
            border: "3px solid white",
            display: "flex",
            justifyContent: "center",
            alignItems: "center"
        })}>
            <img src="/img/icons/speaker.svg" alt="Speaker" class={css({
                width: "85px",
                height: "85px"
            })} />
        </div>
    </div>

    <div class={css({
        position: "absolute",
        bottom: "50px",
        right: "0px",
        width: "160px",
        height: "160px",
        backgroundColor: "white",
        borderRadius: "50%",
        border: "5px solid orange",
        display: "flex",
        justifyContent: "center",
        alignItems: "center",
        boxSizing: "border-box",
        zIndex: "2"
    })}>
        <div class={css({
            width: "85px",
            height: "85px",
            borderRadius: "50%",
            border: "3px solid white",
            display: "flex",
            justifyContent: "center",
            alignItems: "center"
        })}>
            <img src="/img/icons/finger.svg" alt="Finger" class={css({
                width: "85px",
                height: "85px"
            })} />
        </div>
    </div>

</div>
