---
import {css} from "../../../styled-system/css";

const link = css({
    "&:hover, &[aria-current=true]": {
        textDecoration: "underline",
        cursor: "pointer",
        color: "secondary.100",
    }
});

const vr = css({
    width: "1px",
    height: "1rem",
    marginX: "0.7rem",
    borderRight: "2px solid white",
});
---

<nav class={css({
    height: "100%",

})}>
    <ul class={css({
        _portrait: {
            display: {xs: "none", lg: "flex"},
        },
        _landscape: {
            display: "flex",
        },
        fontSize: "1.8em",
        fontWeight: "800",
        height: "100%",
        alignItems: "center",
        overflowY: "hidden",
        overflowX: "auto",
    })}>
        <slot/>
    </ul>
</nav>

<script>
    const sections = document.querySelectorAll("section");
    const menuItems = document.querySelectorAll("nav ul li a");

    document.addEventListener("scroll", () => {
        let currentSection = sections[0];

        sections.forEach((section: HTMLElement) => {
            if ( window.scrollY >=  section.offsetTop - 300) {
                currentSection = section;
            }
        });
        menuItems.forEach((item: HTMLAnchorElement, index) => {
            item.ariaCurrent = "false";
            if (item.href.endsWith("#" + currentSection.id)) {
                item.ariaCurrent = "true";
            }
        });
    });
</script>
