---
import {css} from "../../../styled-system/css";

const {href} = Astro.props;
---

<a href={href} class={css({
    display: "inline-block",
    bgColor: "secondary.100",
    fontWeight: "800",
    marginLeft: {xs: "0", lg: "2rem"},
    padding: ".9rem 1.5rem",
    borderRadius: "xl",
    border: "2px solid {color.secondary.100}",
    fontSize: "1.3rem",
    "&:hover": {
        bgColor: "secondary.300",
        color: "primary.200",
    }
})} target="_blank">
    <slot/>
</a>
