---
import '../index.css';
import {css} from "../../styled-system/css";
import Formulaire from "../components/form/formulaire.astro";
import Header from "../components/header.astro";
import Navigation from "../components/navigation/navigation.astro";
import NavigationItem from "../components/navigation/navigationItem.astro";
import NavigationSeparator from "../components/navigation/navigationSeparator.astro";
import Footer from "../components/footer.astro";
---
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
    <meta name="viewport" content="width=device-width"/>
    <meta name="generator" content={Astro.generator}/>
    <title>Neatcraft</title>
</head>
<body class={css({
    bgColor: "gray.100",
    color: "white",
})}>

<Header>
    <Navigation>
        <NavigationItem href="/#mission">Mission</NavigationItem>
        <NavigationSeparator/>
        <NavigationItem href="/#vision">Vision</NavigationItem>
        <NavigationSeparator/>
        <NavigationItem href="/#valeurs">Valeurs</NavigationItem>
        <NavigationSeparator/>
        <NavigationItem href="/#offre">Offre</NavigationItem>
    </Navigation>
</Header>
<main class={css({
    _portrait: {
        marginTop: "15vh",
    },
    _landscape: {
        marginTop: { xs: "15vw", lg: "5vw" },
    },
    padding: "2rem",
})}>
    <h1 class={css({
        fontSize: "2em",
        marginBottom: "1rem",
        textAlign: "center",
        color: "secondary.100",
        fontFamily: "barlow",
    })}>Comment pouvons-nous vous aider ?</h1>
    <Formulaire />
    <p id="confirmation-message" class={css({
        textAlign: "center",
        color: "green",
        fontSize: "1.2em",
        marginTop: "1rem",
        display: "none",
        fontFamily: "montserrat",
    })}>Merci ! Votre demande a été envoyée.</p>

</main>
<div class={css({
    bgColor: "primary.100",
    marginBottom: "-1rem",
})}>
    <Footer />
</div>

</body>
<script >
    const form = document.getElementById("contact-form");
    const confirmationMessage = document.getElementById("confirmation-message");

    if (form) {
        form.addEventListener("submit", (event) => {
            event.preventDefault();

            alert("Veuillez cliquer sur le lien de validation qui vous a été envoyé à votre adresse mail.");

            if (confirmationMessage) {
                confirmationMessage.style.display = "block";
            }
        });
    } else {
        console.error("Formulaire non trouvé : assurez-vous que l'élément avec l'ID 'contact-form' existe.");
    }


</script>
