---
import '../index.css';

import Mission from "../sections/mission.astro";
import Engagement from "../sections/valeurs.astro";
import Offre from "../sections/offre.astro";
import Navigation from "../components/navigation/navigation.astro";
import NavigationItem from "../components/navigation/navigationItem.astro";
import NavigationButton from "../components/navigation/navigationButton.astro";
import {css} from "../../styled-system/css";
import NavigationSeparator from "../components/navigation/navigationSeparator.astro";
import Header from "../components/header.astro";
import Footer from "../components/footer.astro";
import Vision from "../sections/engagement.astro";
import Contact from "../sections/contact.astro";
---
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
    <meta name="viewport" content="width=device-width"/>
    <meta name="generator" content={Astro.generator}/>
    <title>Neatcraft</title>
</head>
<body class={css({
    bgColor: "primary.100",
    color: "white",
})}>
<Header>
    <Navigation>
        <NavigationItem href="#mission" aria-current="true">Mission</NavigationItem>
        <NavigationSeparator/>
        <NavigationItem href="#vision">Vision</NavigationItem>
        <NavigationSeparator/>
        <NavigationItem href="#engagement">Engagement</NavigationItem>
        <NavigationSeparator/>
        <NavigationItem href="#offre">Offre</NavigationItem>
        <NavigationButton href="#contact">Nous contacter</NavigationButton>
    </Navigation>
</Header>


<main class={css({
    _portrait: {
        marginTop: "15vh",
    },
    _landscape: {
        marginTop: {xs: "15vw", lg: "5vw"},
    },
})}>
    <Mission/>
    <Vision/>
    <Engagement/>
    <Offre/>
    <Contact/>
</main>
<div class={css({
    _portrait: {
        display: {xs: "flex", lg: "none"},
    },
    _landscape: {
        display: "none",
    },
    position: "fixed",
    justifyContent: "center",
    width: "100%",
    bgColor: "primary.100",
    paddingY: "5%",
    bottom: "0",
})}>

</div>
<Footer/>
</body>

</html>



