---
import '../index.css';
import {css} from "../../styled-system/css";
import Header from "../components/header.astro";
import Navigation from "../components/navigation/navigation.astro";
import NavigationItem from "../components/navigation/navigationItem.astro";
import NavigationSeparator from "../components/navigation/navigationSeparator.astro";
import Footer from "../components/footer.astro";
import {title} from "../../styled-system/patterns";
import CardTitle from "../components/card/CardTitle.astro";
import CardParagraph from "../components/card/CardParagraph.astro";
import {paragraph} from "../../styled-system/patterns";
import NavigationButton from "../components/navigation/navigationButton.astro";
---

<html lang="fr" class={css({height: "100vh"})}>
<head>
    <meta charset="utf-8"/>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
    <meta name="viewport" content="width=device-width"/>
    <meta name="generator" content={Astro.generator}/>
    <title>Mentions légales | NeatCraft</title>
</head>

<body class={css({
    bgColor: "primary.100",
    color: "white",
    display: "flex",
    height: "100%",
    flexDirection: "column",
    justifyContent: "space-between",
})}>

<Header>
    <Navigation>
        <NavigationItem href="/#mission" aria-current="true">Mission</NavigationItem>
        <NavigationSeparator/>
        <NavigationItem href="/#engagement">Engagement</NavigationItem>
        <NavigationSeparator/>
        <NavigationItem href="/#valeur">Valeurs</NavigationItem>
        <NavigationSeparator/>
        <NavigationItem href="/#activite">Activités</NavigationItem>
        <NavigationButton href="/#contact">Nous contacter</NavigationButton>
    </Navigation>
</Header>

<main class={css({
    bgColor: "white",
    flexGrow: "1",
    paddingTop: {_portrait: "15vh", _landscape: "7vw"},
    padding: "2rem",
    color: "black",
})}>
    <h1 class={title({color: "primary.100", textAlign: "center", paddingBottom: "1rem"})}>Mentions Légales</h1>

    <section class={css({
        margin: "0 auto",
        maxWidth: "900px",
        padding: "2rem",
    })}>

        <CardTitle> Éditeur du site</CardTitle>
        <CardParagraph>
            Le site NeatCraft est édité par la société NeatCraft, une SARL unipersonnelle au capital social de 1 000,00 €, immatriculée au Registre du Commerce et des Sociétés de Saint-Brieuc sous le numéro RCS 908 882 541.
        </CardParagraph>

        <ul class={paragraph({
            fontSize: {xs: "1rem", xl: "1.2rem"},
            color: "primary.100",
            textAlign: "center"
        })}>
            <li>Dénomination sociale : NeatCraft</li>
            <li>Forme juridique : SARL unipersonnelle</li>
            <li>Numéro SIRET : 908 882 541 00018</li>
            <li>Numéro de TVA intracommunautaire : FR42908882541</li>
            <li>Siège social : 38 Boulevard Pasteur, 22000 Saint-Brieuc, France</li>
            <li>Responsable de la publication : Antoine Carpier-Jouan</li>
            <li>Email : antoine.jouan@neatcraft.fr</li>
            <li>Téléphone : 06 15 93 90 15</li>
        </ul>

        <CardTitle> Hébergeur du site</CardTitle>
        <CardParagraph>
            Ce site est hébergé par GitHub Pages.<br/>
            Adresse : GitHub, Inc., 88 Colin P. Kelly Jr Street, San Francisco, CA 94107, USA <br/>
            Site web : <a href="https://pages.github.com" target="_blank" rel="noopener noreferrer" style="text-decoration: underline;">https://pages.github.com</a>
        </CardParagraph>

        <CardTitle> Propriété intellectuelle</CardTitle>
        <CardParagraph>
            L'ensemble des éléments présents sur le site (textes, images, logos, vidéos, etc.) sont la propriété exclusive de NeatCraft, sauf mentions contraires. Toute reproduction, distribution, modification, adaptation, retransmission ou publication de ces éléments, même partielle, est strictement interdite sans l'accord écrit de NeatCraft.
        </CardParagraph>

        <CardTitle> Design du site</CardTitle>
        <CardParagraph>
            Le design du site a été réalisé par <a href="https://www.robystudio.fr/" target="_blank" rel="noopener noreferrer" style="text-decoration: underline;">RobyStudio</a>.
        </CardParagraph>


        <CardTitle> Collecte de données personnelles</CardTitle>
        <CardParagraph>
            NeatCraft respecte la vie privée de ses utilisateurs et se conforme aux lois en vigueur concernant la protection des données personnelles, notamment le Règlement Général sur la Protection des Données (RGPD).
        </CardParagraph>
        <CardParagraph>
            Les informations collectées via les formulaires de contact (nom, e-mail, etc.) sont uniquement utilisées pour répondre aux demandes des utilisateurs. Ces données ne seront en aucun cas partagées avec des tiers sans consentement préalable.
        </CardParagraph>
        <CardParagraph>
            Droit d'accès, de rectification et de suppression des données : Vous pouvez à tout moment demander l'accès, la rectification ou la suppression de vos données en nous contactant par e-mail à antoine.jouan@neatcraft.fr.
        </CardParagraph>
        <CardParagraph>
            Utilisation des cookies : Le site utilise des cookies pour améliorer l'expérience utilisateur. En naviguant sur le site, vous acceptez l'utilisation de cookies conformément à notre politique de confidentialité.
        </CardParagraph>

        <CardTitle> Conditions d'utilisation</CardTitle>
        <CardParagraph>
            L'accès et l'utilisation du site NeatCraft sont soumis aux présentes mentions légales. En accédant au site, vous acceptez sans réserve les conditions suivantes :
        </CardParagraph>
        <CardParagraph>
            Le contenu du site est fourni à titre informatif. NeatCraft ne saurait être tenu responsable des erreurs ou omissions dans les informations fournies sur le site.<br/>
            NeatCraft se réserve le droit de modifier le contenu du site à tout moment, sans préavis.
        </CardParagraph>


        <CardTitle> Droits applicables</CardTitle>
        <CardParagraph>
            Les présentes mentions légales sont régies par la loi française. En cas de litige, les tribunaux compétents seront ceux de la juridiction du siège social de NeatCraft.
        </CardParagraph>

    </section>
</main>

<Footer/>

</body>
</html>
