---
import {css} from "../../styled-system/css";
---

<footer class={css({
    paddingY: "3%",
    bgColor: "secondary.100",
    _portrait: {
        marginBottom: { xs: "15vh", lg: "0" },
    }
})}>
    <p class={css({ textAlign: "center" })}>
        Copyright © 2024 Neatcraft - Tous droits réservés
    </p>
    <p class={css({ textAlign: "center", marginTop: "1rem" })}>
        <a href="/mentionsLegales" class={css({
            color: "white",
            textDecoration: "none",
            "&:hover": {
                textDecoration: "underline",
                color: "primary.100",
            }
        })}>
            Mentions légales
        </a>
    </p>
</footer>
