---
import {css} from "../../styled-system/css";
---

<footer class={css({
    paddingY: "3%",
    _portrait: {
        marginBottom: { xs: "15vh", lg: "0" },
    }
})}>
    <p class={css({ textAlign: "center" })}>
        Copyright © 2024 Neatcraft - Tous droits réservés
    </p>
</footer>