---
import {css} from "../../styled-system/css";

const {iconSrc, titleClass} = Astro.props

---
<div class={css({
    display: "flex",
    alignItems: "center",
    gap: "2%"
})}>
    <img src={iconSrc}
         class={css({
             height: { base: "6vh",  mdTo2xl: "12vh"},
             width: { base: "6vh", mdTo2xl: "12vw"},
         })}/>
    <h1 class={titleClass}>
        <slot/>
    </h1>
</div>