---
import {css} from "../../styled-system/css";

const {iconSrc, titleClass} = Astro.props

---
<div class={css({
    display: "flex",
    alignItems: "center",
    gap: "2%"
})}>
    <img src={iconSrc}
         class={css({
             height: { xs: "6vh",  md: "10vh"},
             width: { xs: "6vh", md: "10vh"},
         })}/>
    <h1 class={titleClass}>
        <slot/>
    </h1>
</div>