---
import {css} from "../../styled-system/css";
---
<h2 class={css({
    fontFamily: "barlow",
    fontSize: {sm: "2rem", lg: "3.5rem"},
    fontWeight: "700",
    textTransform: "uppercase",
    lineHeight: "1.1em",
    color: "secondary.100",
    width: "fit-content",
})}>
    <slot/>
</h2>