---
import {css} from "../../styled-system/css";
---
<h2 class={css({
    fontFamily: "barlow",
    fontSize: "3.5em",
    fontWeight: "700",
    textTransform: "uppercase",
    lineHeight: "1.2em",
    color: "secondary.100",

})}>
    <slot/>
</h2>