---
import SectionTitle from "../components/sectionTitle.astro";
import {section, title} from "../../styled-system/patterns";
import {css} from "../../styled-system/css";
import Subtitle from "../components/subtitle.astro";
import Card from "../components/card/card.astro";
import CardIcon from "../components/card/cardIcon.astro";
import CardTitle from "../components/card/CardTitle.astro";
import CardParagraph from "../components/card/CardParagraph.astro";
---
<section id="activite" class={section({bgColor: "gray.100"})}>
    <div class={css({
        display: "flex",
        flexDir: "column",
        paddingX: "5%"
    })}>
        <SectionTitle iconSrc="/img/icons/star.svg" iconAlt="icone représentant une astérisque" titleClass={title({color: "primary.100"})}>
            Nos Activités
        </SectionTitle>
        <Subtitle>
            Une accompagnement sur-mesure.
        </Subtitle>
        <div class={css({
            display: "flex",
            gap: "3%",
            justifyContent: "center",
            alignItems: "center",
        })}>
        </div>
        <div class={css({
            display: "flex",
            flexDir: {xs: "column", "lg": "row"},
            gap: "1.3em",
            marginTop: "3%",
        })}>

            <Card>
                <CardIcon iconSrc="/img/icons/letter.svg" iconAlt="icone représentant une fusée"/>
                <CardTitle>Conseil</CardTitle>
                <CardParagraph>
                    Nous vous aidons à prendre des décisions éclairées grâce à des audits précis et un accompagnement stratégique.
                </CardParagraph>
            </Card>
            <Card>
                <CardIcon iconSrc="/img/icons/nut.svg" iconAlt="icone représentant des chevrons dans un cercle"/>
                <CardTitle>Architecture</CardTitle>
                <CardParagraph>
                    Nous vous accompagnons dans la conception d’architectures fiables et évolutives pour garantir la performance et l’adaptabilité de vos systèmes d'information.
                </CardParagraph>
            </Card>
            <Card>
                <CardIcon iconSrc="/img/icons/rocket.svg" iconAlt="icone représentant une enveloppe"/>
                <CardTitle>Réalisation</CardTitle>
                <CardParagraph>
                    Nous concevons et mettons en œuvre des solutions sur-mesure, robustes et alignées sur vos objectifs métier.
                </CardParagraph>
            </Card>
            <Card>
                <CardIcon iconSrc="/img/icons/eye.svg" iconAlt="icone représentant un oeil"/>
                <CardTitle>Formation</CardTitle>
                <CardParagraph>
                    Nous renforçons les compétences de vos équipes à travers des formations pratiques et adaptées à vos besoins.
                </CardParagraph>
            </Card>
        </div>
    </div>
</section>