---
import { css } from "../../styled-system/css";
import { title } from "../../styled-system/patterns";
import CardParagraph from "../components/card/CardParagraph.astro";
---
<section id="contact" class={css({
    display: "flex",
    padding: "3% 2% 5% 2%",
    flexDirection: "column",
    justifyContent: "center",
    alignItems: "center", // Centrer horizontalement
    width: "100%",
    height: "100%",
    paddingX: "5%",
    bgColor: "primary.100",
    bgImage: "url(/img/triangle.svg)"
})}>

    <img src="/img/logos/neatcraft.svg" alt="Neatcraft Logo" class={css({
        width: "150px",
        height: "auto",
        marginBottom: "2rem"
    })} />

    <h1 class={title()}>contact</h1>
    <div class={css({
        display: "flex",
        flexDirection: "column",
        gap: "1.3em",
        marginTop: "3%",
        alignItems: "center", // Centrer les éléments
        justifyContent: "center" // Centrer les éléments
    })}>

        <div class={css({
            display: "flex",
            flexDirection: "column",
            alignItems: "center",
            textAlign: "center",
            gap: "0.5rem"
        })}>
            <CardParagraph>
                <p class={css({
                    fontFamily: "Montserrat, sans-serif",
                    fontWeight: "600",
                    fontSize: "14px",
                    color: "white"
                })}>Antoine Jouan</p>

                <p class={css({
                    fontFamily: "Montserrat, sans-serif",
                    fontWeight: "300",
                    fontSize: "14px",
                    color: "white"
                })}>Architect & Lead dev, Agilist</p>
            </CardParagraph>
        </div>

        <div class={css({
            display: "flex",
            flexDirection: "column",
            alignItems: "center",
            textAlign: "center",
            gap: "0.5rem"
        })}>
            <img src="/img/icons/phone.svg" alt="Phone Icon" class={css({
                width: "40px",
                height: "40px"
            })} />
            <a href="tel:+33615939015" class={css({
                color: "white",
                fontSize: "14px",
                textDecoration: "none",
                fontWeight: "300"
            })}>06.15.93.90.15</a>
        </div>

        <div class={css({
            display: "flex",
            flexDirection: "column",
            alignItems: "center",
            textAlign: "center",
            gap: "0.5rem"
        })}>
            <img src="/img/icons/mail.svg" alt="Email Icon" class={css({
                width: "40px",
                height: "40px"
            })} />
            <a href="mailto:antoine.jouan@neatcraft.fr" class={css({
                color: "white",
                fontSize: "14px",
                textDecoration: "none",
                fontWeight: "300"
            })}>antoine.jouan@neatcraft.fr</a>
        </div>

        <div class={css({
            display: "flex",
            flexDirection: "column",
            alignItems: "center",
            textAlign: "center",
            gap: "0.5rem"
        })}>
            <img src="/img/icons/location.svg" alt="Location Icon" class={css({
                width: "40px",
                height: "40px"
            })} />
            <p class={css({
                color: "white",
                fontSize: "14px",
                fontWeight: "300",
                fontFamily: "Montserrat, sans-serif"
            })}>38 boulevard Pasteur, 22000 Saint-Brieuc</p>
        </div>

        <div class={css({
            display: "flex",
            flexDirection: "column",
            alignItems: "center",
            textAlign: "center",
            gap: "0.5rem"
        })}>
            <img src="/img/icons/at.svg" alt="Website Icon" class={css({
                width: "40px",
                height: "40px"
            })} />
            <a href="https://www.neatcraft.fr" class={css({
                color: "white",
                fontSize: "14px",
                textDecoration: "none",
                fontWeight: "300",
                fontFamily: "Montserrat, sans-serif"
            })}>www.neatcraft.fr</a>
        </div>
    </div>
</section>
