---
import {css} from "../../styled-system/css";
import {section, title} from "../../styled-system/patterns";
---
<section id="contact" class={section({
    bgColor: "primary.100",
    bgImage: "url(/img/triangle.svg)",
    flexDir: "column",
    color: "white"
})}>
    <h1 class={title()}>contact</h1>
    <h2 class={css({
        marginTop: "4%",
        fontFamily: "Montserrat, sans-serif",
        fontWeight: "600",
        fontSize: "1.5em",
    })}>Antoine Jouan</h2>
    <p class={css({
        fontFamily: "Montserrat, sans-serif",
        fontWeight: "300",
        fontSize: "14px",
        color: "white"
    })}>Consultant en Stratégie & Tactique IT et en Efficacité Opérationnelle</p>

    <ul class={css({
        display: 'flex',
        flexDir: 'column',
        gap: '1rem',
        marginTop: '2%',
        "& > li": {
            display: 'flex',
            flexDirection: 'column',
            alignItems: 'center',
            gap: '0.5rem',
            "& > img, & > a > img": {
                width: '40px',
                height: '40px'
            },
            "& > a": {
                fontSize: "14px",
                textDecoration: "none",
                fontWeight: "300"
            }
        }

    })}>
        <li>
            <img src="/img/icons/phone.svg" alt="Phone Icon"/>
            <a href="tel:+33615939015">06.15.93.90.15</a>
        </li>
        <li>
            <img src="/img/icons/mail.svg" alt="Email Icon"/>
            <a href="mailto:antoine.jouan@neatcraft.fr">antoine.jouan@neatcraft.fr</a>
        </li>
        <li>
            <img src="/img/icons/location.svg" alt="Location Icon"/>
            <p>38 boulevard Pasteur, 22000 Saint-Brieuc</p>
        </li>
        <li>
            <a href="https://www.linkedin.com/in/jouana/" target="_blank" rel="noopener noreferrer">
                <img src="/img/logos/logo_linkedin.webp" alt="LinkedIn Logo"/>
            </a>
        </li>
    </ul>

</section>
