---
import {css} from "../../styled-system/css";
import Subtitle from "../components/subtitle.astro";
import Button from "../components/button.astro";
import {paragraph, section, title} from "../../styled-system/patterns";
import SectionTitle from "../components/sectionTitle.astro";
---
<section id="mission"
         class={section({marginTop: "7vh"})}>
    <img alt="Logo de Neatcraft: tête de cerf dans un cercle orange"
         class={css({
             height: {base: "20vh", mdTo2xl: "60vh"},
             width: {base: "20vh", mdTo2xl: "60vh"},
             paddingX: "3%"
         })}
         src="/img/logos/neatcraft.svg"/>
    <div class={css({
        display: "flex",
        flexDir: "column",
    })}>
         <SectionTitle iconSrc="/img/icons/target.svg" titleClass={title({color: "white"})}>Notre mission</SectionTitle>
        <Subtitle>
            Rendre les entreprises plus performantes et plus épanouissantes.
        </Subtitle>
        <p class={paragraph({color: "white"})}>
            Nous cherchons tous à être performants et atteindre nos objectifs, mais dans un monde incertain et mouvant il est difficile d'y arriver.
            <br/>
            C'est pour cela que nous nous inspirons des meilleures méthodes existantes pour <b>construire des solutions innovantes qui répondent à vos besoins</b>.
        </p>
        <Button>Nous contacter</Button>
    </div>
</section>