---
import {css} from "../../styled-system/css";
import Subtitle from "../components/subtitle.astro";
import {paragraph, section, title} from "../../styled-system/patterns";
import SectionTitle from "../components/sectionTitle.astro";

---
<section id="mission"
         class={section({ gap: "4%"})}>
    <img id="logo-neatcraft-mission"
            alt="Logo de Neatcraft: tête de cerf dans un cercle orange"
         class={css({
             display: {xs: "none", md: "block"},
             height: {xs: "15vh", md: "30vh", xl: "60vh"},
             width: {xs: "15vh", md: "30vh", xl: "60vh"},
         })}
         src="/img/logos/neatcraft.svg"/>
    <div class={css({
        display: "flex",
        flexDir: "column",
    })}>
        <SectionTitle iconSrc="/img/icons/target.svg" titleClass={title({color: "white"})}>Notre mission</SectionTitle>
        <Subtitle>
            Créer des solutions innovantes au service de votre business.
        </Subtitle>
        <p class={paragraph({color: "white"})}>
            Nous cherchons tous à être performants et atteindre nos objectifs, mais dans un monde incertain et mouvant il est difficile d'y arriver.
            <br/>
            C'est pour cela que nous nous inspirons des meilleures méthodes existantes pour <b>construire des solutions innovantes qui répondent à vos besoins</b>.
        </p>
    </div>
</section>