---
import {css} from "../../styled-system/css";
import Subtitle from "../components/subtitle.astro";
import {paragraph, section, title} from "../../styled-system/patterns";
import SectionTitle from "../components/sectionTitle.astro";
---
<section id="mission"
         class={section({gap: "4%", marginTop: {_portrait: "10vh", _landscape: {xs: "20vh", lg: "10vh"}}})}>

    <img id="logo-neatcraft-mission"
         alt="Logo de Neatcraft: tête de cerf dans un cercle orange"
         class={css({
             transformOrigin: "center left",
             display: {xs: "none", lg: "block"},
             zIndex: "100",
             height: {xs: "15vh", md: "30vh", xl: "60vh"},
             width: {xs: "15vh", md: "30vh", xl: "60vh"},
         })}
         src="/img/logos/neatcraft.svg" />
    <div class={css({
        display: "flex",
        flexDir: "column",
    })}>
        <SectionTitle iconSrc="/img/icons/target.svg" iconAlt="flèche au centre d'une cible" titleClass={title({color: "white"})}>Notre mission</SectionTitle>
        <Subtitle>
            Le connaissance au service de l'excellence opérationnelle.
        </Subtitle>
        <p class={paragraph({color: "white", lineHeight: "2rem"})}>
            Nous sommes convaincus que <b>le monde des affaires, incertain et mouvant</b>, peut freiner les performances et la prise de décision.
            <br/>
            Face à cette réalité, nous croyons fermement qu’il est essentiel d’observer les faits et de <b>mobiliser la connaissance</b> comme levier pour surmonter ces défis.
            <br/>
            C'est pour cela que nous œuvrons à construire un monde où les entreprises disposent d’une vision claire de leur environnement, leur permettant d’agir avec agilité et de transformer <b>l’excellence opérationnelle en standard accessible</b>.
        </p>
    </div>
</section>

<script>
    const missionSection = document.getElementById("mission");
    const logoHeader = document.getElementById("logo-neatcraft-header");
    const logo = document.getElementById("logo-neatcraft-mission");
    const missionSectionBottom = missionSection.offsetHeight + missionSection.offsetTop;
    const header = document.getElementById("header");
    let oldRatio = 100;

    const animateLogoOnScroll = () => {
        window.requestIdleCallback(() => {
            if (screen.width < 1024) {
                return;
            }

            const ratio = 0.8 - scrollY / missionSectionBottom;

            if (ratio < 0.23 && oldRatio < 0.23) {
                return;
            }

            if (ratio >= 1) {
                header.style.justifyContent = "end";
                logo.style.display = "block";
                logoHeader.style.display = "none";
                logo.style.transform = `scale(${1}) translate(0, ${scrollY}px)`;
            }
            if (ratio > 0.23) {
                header.style.justifyContent = "end";
                logo.style.display = "block";
                logoHeader.style.display = "none";
                logo.style.transform = `scale(${ratio}) translate(0, ${scrollY}px)`;
            } else {
                logoHeader.style.display = "block";
                header.style.justifyContent = "space-between";
                logo.style.transform = `scale(0) translate(0, 0px)`;
            }
            oldRatio = ratio;
        });
    };

    document.addEventListener("scroll", animateLogoOnScroll);

    animateLogoOnScroll();
</script>
