---
import {css} from "../../styled-system/css";
import {section, title} from "../../styled-system/patterns";
import SectionTitle from "../components/sectionTitle.astro";
import Paragraph from "../components/CircleInformation/Paragraph.astro";
import RoundedIcon from "../components/RoundedIcon.astro";
import Title from "../components/CircleInformation/Title.astro";
---

<section id="engagement" class={section({
    bgColor: "third.100",
    bgImage: "url(/img/triangle.svg)",
    flexDir: "column",
    alignItems: "start",
})}>
    <SectionTitle iconSrc="/img/icons/museum.svg" titleClass={title({color: "white"})}>
        valeurs
    </SectionTitle>


    <div class={css({
        marginX: "auto",
        lg: {
            display: "grid",
            gridTemplateColumns: "20vw auto 10vw auto 20vw",
            gridTemplateRows: "4rem 1fr 10vw 4rem 1fr",
        },
        xs: {
            display: "flex",
            flexDir: "column",
        }
    })}>
        <div aria-hidden="true" class={css({
            display: {xs: "none", lg: "block"},
            gridColumn: "2/5",
            gridRow: "1/6",
            borderRadius: "50%",
            border: "8px solid {colors.secondary.100}",
        })}/>
        <RoundedIcon iconSrc="/img/icons/compas.svg" iconAlt="compas" extendClass={css({ gridColumn: "2/3", gridRow: "1/3"  })}/>
        <Title extendClass={css({ gridColumn: "1/2", gridRow: "1/2" })}>Respect</Title>
        <Paragraph extendClass={css({ gridColumn: "1/2", gridRow: "2/3" })}>
            Nous appliquons une rigueur sans compromis à chaque étape de notre travail pour garantir des résultats
            exceptionnels.
        </Paragraph>

        <RoundedIcon iconSrc="/img/icons/speaker.svg" iconAlt="Speaker" extendClass={css({ gridColumn: "4/5", gridRow: "1/3"  })}/>
        <Title extendClass={css({ gridColumn: "5/6", gridRow: "1/2"  })}>Empathie</Title>
        <Paragraph extendClass={css({ gridColumn: "5/6", gridRow: "2/3"  })}>
            Nous serons toujours à votre écoute pour vous offrir le produit le plus adapté à vos besoins.
        </Paragraph>

        <RoundedIcon iconSrc="/img/icons/ampoule.svg" iconAlt="Ampoule" extendClass={css({ gridColumn: "2/3", gridRow: "4/6"  })}/>
        <Title extendClass={css({ gridColumn: "1/2", gridRow: "4/5"  })}>Créativité</Title>
        <Paragraph extendClass={css({ gridColumn: "1/2", gridRow: "5/6"  })}>
            Nous encourageons l'innovation et cherchons constamment de nouvelles idées pour vous aider à
            résoudre vos défis les plus complexes.
        </Paragraph>

        <RoundedIcon iconSrc="/img/icons/finger.svg" iconAlt="Finger" extendClass={css({ gridColumn: "4/5", gridRow: "4/6"  })}/>
        <Title extendClass={css({ gridColumn: "5/6", gridRow: "4/5"  })}>Simplicité</Title>
        <Paragraph extendClass={css({ gridColumn: "5/6", gridRow: "5/6"  })}>
            Nos processus sont conçus pour être intuitifs et faciles à suivre, vous permettant de bénéficier
            pleinement et simplement de nos solutions complètes, depuis la conception jusqu'à la livraison.
        </Paragraph>
    </div>
</section>
