---
import {css} from "../../styled-system/css";
import {section, title} from "../../styled-system/patterns";
import SectionTitle from "../components/sectionTitle.astro";
import Paragraph from "../components/CircleInformation/Paragraph.astro";
import RoundedIcon from "../components/CircleInformation/RoundedIcon.astro";
import Title from "../components/CircleInformation/Title.astro";
---

<section id="engagement" class={section({
    bgColor: "third.100",
    bgImage: "url(/img/triangle.svg)",
    flexDir: "column",
    alignItems: "start",
})}>
    <SectionTitle iconSrc="/img/icons/museum.svg" titleClass={title({color: "white"})}>
        valeurs
    </SectionTitle>


    <div class={css({
        marginX: "auto",
        lg: {
            display: "grid",
            gridTemplateColumns: "20vw 14vw 10vw 14vw 20vw",
            gridTemplateRows: "14vw 10vw 14vw",
            gap: "1em",
            alignItems: "normal",
            width: "max-content",
            height: "max-content",
        },
        xs: {
            display: "flex",
            flexDir: "column",
            alignItems: "center",
            textAlign: "center",
            width: "70%"

        }
    })}>
        <div aria-hidden="true" class={css({
            display: {xs: "none", lg: "block"},
            gridColumn: "2/5",
            gridRow: "1/6",
            borderRadius: "50%",
            border: "5px solid {colors.secondary.100}",
        })}/>
        <RoundedIcon iconSrc="/img/icons/compas.svg" iconAlt="compas"
                     extendClass={css({gridColumn: "2/3", gridRow: "1/2"})}/>
        <div class={css({gridColumn: "1/2", gridRow: "1/2", textAlign: "end"})}>
            <Title>Rigueur</Title>
            <Paragraph>
                Nous appliquons une rigueur sans compromis à chaque étape de notre travail pour garantir des résultats
                exceptionnels.
            </Paragraph>
        </div>

        <RoundedIcon iconSrc="/img/icons/speaker.svg" iconAlt="Speaker"
                     extendClass={css({gridColumn: "4/5", gridRow: "1/2"})}/>
        <div class={css({gridColumn: "5/6", gridRow: "1/2", textAlign: "start"})}>
            <Title>Empathie</Title>
            <Paragraph>
                Nous serons toujours à votre écoute pour vous offrir le produit le plus adapté à vos besoins.
            </Paragraph>

        </div>

        <RoundedIcon iconSrc="/img/icons/ampoule.svg" iconAlt="Ampoule"
                     extendClass={css({gridColumn: "2/3", gridRow: "3/4"})}/>
        <div class={css({gridColumn: "1/2", gridRow: "3/4", textAlign: "end"})}>
            <Title>Créativité</Title>
            <Paragraph>
                Nous encourageons l'innovation et cherchons constamment de nouvelles idées pour vous aider à
                résoudre vos défis les plus complexes.
            </Paragraph>
        </div>
        <RoundedIcon iconSrc="/img/icons/finger.svg" iconAlt="Finger"
                     extendClass={css({gridColumn: "4/5", gridRow: "3/4"})}/>
        <div class={css({gridColumn: "5/6", gridRow: "3/4", textAlign: "start"})}>
            <Title>Simplicité</Title>
            <Paragraph >
                Nos processus sont conçus pour être intuitifs et faciles à suivre, vous permettant de bénéficier
                pleinement et simplement de nos solutions complètes, depuis la conception jusqu'à la livraison.
            </Paragraph>
        </div>
    </div>
</section>
