---
import {paragraph, section, title} from "../../styled-system/patterns";
import {css} from "../../styled-system/css";
import SectionTitle from "../components/sectionTitle.astro";
import Button from "../components/button.astro";
import Subtitle from "../components/subtitle.astro";
---
<section id="vision"
    class={section({
        bgColor: "#f8f8f8"
    })}>
    <div class={css({
        display: "flex",
        flexDir: "column",
        paddingX: {xs: "0", lg: "5%"}
    })}>
        <SectionTitle iconSrc="/img/icons/eye.svg" titleClass={title({color: "primary.100"})}>Notre engagement</SectionTitle>
        <Subtitle>Peut importe votre besoin, nous avons une solution pour vous.</Subtitle>
        <p class={paragraph({color: "primary.100"})}>
            Nous savons que vous êtes uniques, et que vos besoin nécessite un accompagnement personnalisé.
            <br/>
            Nous sommes là pour <b>vous aider à atteindre votre plein potentiel</b> et accomplir vos objectifs.
        </p>
        <Button>Nous contacter</Button>
    </div>
    <img src="/img/icons/libra.svg" class={css({
        height: {xs: "15vh", md: "30vh", xl: "60vh"},
        width: {xs: "15vh", md: "30vh", xl: "60vh"},
        display: {xs: "none", md: "block"},
    })}/>
</section>