---
import {title} from "../../../styled-system/patterns";
---
<h2 class={title({
    fontSize: {xs: "1.5rem", xl: "3.2rem"},
    color: "secondary.200",
    fontWeight: "700",

})}>
    <slot/>
</h2>